 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
 @font-face {
     font-family: 'agrandir';
     src: url(fonts/agrandir-grand.ttf) format(truetype);
     font-weight: normal;
     font-style: normal;
 }
 
 html, body{
     height: 100%;
 }
 

body{
    max-width: 480px;
   margin: 0 auto;
    display: flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;

    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #ffecec, #ffffff);
}
 
 /*está editando os nomes facin*/
 .logo{
     font-size: 35px;
     color: #E20C0C;
     font-family: 'agrandir', 'Times New Roman', Times, serif;
 }
 
.principal-buton{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.facin-form{
    width: 100%;
    display: flex;
    justify-content: center;
}

.facin-form__princial{
    display: flex;
   flex-direction: column;
   padding: 40px 30px;
    border-radius: 8px;
   background-color: #fff;
   box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#email, #senha, #telefone, #nome{
    padding: 10px;
   text-align: center;
   margin-bottom: 18px;
   border-radius: 5px;
    background-color: #F1F1F1;
   width: 270px;
    border: 1px solid #ccc;
}
 
 /*está editando o formulário na página cadastro*/
 .cadastro{
     display: flex;
     flex-direction: column;
     border: none;
 }
 
 /*está editando a legenda do formulario de cadastro*/
 .legenda{
     color: #E20C0C;
     text-transform: uppercase;
 }
 
 .botao-entrar:hover{
     text-decoration: underline;
 }
 
 .entrar{
     background-color: #E20C0C;
     color: white;
     padding: 13px;
     border-radius: 5px;
     text-transform: uppercase;
     font-size: 15px;

 }
