@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@font-face {
    font-family: 'agrandir';
    src: url(fonts/agrandir-grand.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

html, body{
    height: 100%;
}

body{
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Inter', sans-serif;
}

/*está editando os nomes facin*/
.logo{
    font-size: 35px;
    color: #E20C0C;
    font-family: 'agrandir', 'Times New Roman', Times, serif;
}

.principal-buton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.facin-form__princial{
    display: flex;
    flex-direction: column;
}

#email, #senha, #telefone, #nome{
    padding: 10px;
    text-align: center;
    margin-bottom: 18px;
    border-radius: 5px;
    background-color: #F1F1F1;
    width: 270px;
}

/*está editando o formulário na página cadastro*/
.cadastro{
    display: flex;
    flex-direction: column;
    border: none;
}

/*está editando a legenda do formulario de cadastro*/
.legenda{
    color: #E20C0C;
    text-transform: uppercase;
}

.botao-entrar:hover{
    text-decoration: underline;
}

.entrar{
    background-color: #E20C0C;
    color: white;
    padding: 13px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 15px;
    width: 180px;
    text-decoration: none;
    margin-bottom: 30px;
}

.entrar:hover{
    text-decoration: underline;
}

.criar{
    text-decoration: none;
    font-size: 15px;
    color: #E20C0C;
    margin-bottom: 35px;
}

.criar:hover{
    text-decoration: underline;
}

.hero-action{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    color: #E20C0C;
    text-transform: uppercase;
    font-size: 12px;
}

.email{
    text-decoration: underline;
    color: #E20C0C;
}
  
.telefone{
    text-decoration: underline;
    color: #E20C0C;
}

.meio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.meio h3{
    color: #E20C0C;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 3px;
}

.meio p{
    width: 250px;
    font-size: 15px;
    margin-top: 1px;
    text-align: center;
    color: gray;
}

.sub-titulo{
    color: #E20C0C;
    text-transform: uppercase;
    font-size: 20px;
    width: 280px;
    margin-bottom: 10px;
}

.botao-entrar{
    background-color: #E20C0C;
    color: white;
    padding: 13px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 15px;
    width: 180px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    border: none;
    font-family: 'Inter';
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.botao-entrar:hover{
    text-decoration: underline;
}

/*editando a página perfil*/
.cabecalho{
    background-color: #E20C0C;
    width: 100%;
    color: white;
}

.logo-perfil{
    margin-left: 10px;
    font-family: 'agrandir';
}

.logo-usuario{
    margin-left: 10px;
    font-family: 'Inter';
}

.corpo-elementos{
    list-style-type: none;
}
