@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@font-face {
    font-family: 'agrandir';
    src: url(fonts/agrandir-grand.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
:root {
    --primary-color: #E20C0C;
    --background-color: #f4f4f9;
}

* {
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background-color);
    font-family: 'Inter', sans-serif;
    padding: 1rem;
    gap: 1.5rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    gap: 1.5rem;
}

/*está editando os nomes facin*/
.logo{
    font-size: 25px;
    color: var(--primary-color);
    font-family: 'agrandir', 'Times New Roman', Times, serif;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

img{
    width: 30px;
    height: 30px;
    margin: 0 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

img:hover{
    transform: scale(1.1);
}




.search-container {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    width: 280px; /* Largura da barra de busca */
    height: 35px;
    margin-top: 20px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.15); /* Sombra */
    background-color: #fff;
  }
  
  .search-input {
    border: none;
    padding: 10px;
    flex: 1;
    outline: none;
    font-size: 14px;
    background: transparent;
