
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@font-face {
    font-family: 'agrandir';
    src: url(fonts/agrandir-grand.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

html, body{
    height: 100%;
}
body{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

/*está editando os nomes facin*/
.logo{
    font-size: 25px;
    color: #E20C0C;
    font-family: 'agrandir', 'Times New Roman', Times, serif;
    padding-left: 30px;
    padding-right: 30px;
}

img{
    width: 6vw;
    height: 6vw;
    max-width: 1.875rem;
    max-height: 1.875rem;
    margin: 0 4vw;
    cursor: pointer;
}




.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 80%;
    max-width: 25rem;
    height: 2.5rem;
    margin-top: 20px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2); /* Sombra */
  }
  
  .search-input {
    border: none;
    padding: 10px;
    flex: 1;
    outline: none;
  }
  
  .search-button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .search-button img {
    width: 6vw; /* Tamanho da imagem da lupa */
    height: 6vw;
    max-width: 1.875rem;
    max-height: 1.875rem;
  }

/* editando os ícones*/

.icones{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 20px;
  width: 100%;
  margin-top: 40px;
  justify-items: center;
}

.icones p{
  font-size: 11px;
  text-align: center;
}

/* editando os círculos*/

.container_circulo{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.circulo{
    width: 3vw;
    height: 3vw;
    max-width: 0.9375rem;
    max-height: 0.9375rem;
    background-color: #ccc;
    border-radius: 50%;
    margin: 10px;
}

@media (min-width: 768px) {
  .search-container {
    width: 50%;
  }
}
